@CHARSET "UTF-8";

#block-compare-item-compare-cart {
/*  display: none;*/
  background-color: gray;
  z-index: 2;
 /* height:62px;*/
}

/**div #block-block-1  {
	width: 100%;
	background-color: gray;
	z-index: 2;
}**/

/**#compare_block  {
  display: inline;
}**/

/*
.div_image  {
	display: inline;
	margin: 10px;
}

.image {
  display: inline;
	border: 1px solid #ccc;
}
*/
/*.div_image  {
	float:left;	
}
.compare-product-title {
	float:right;
}

#compare_cart_options {
	text-align: right;
}

.product-space {
	float:left;
	margin:5px 15px;
}

#aclose:HOVER, #aclearlist:HOVER {
	cursor: pointer;
}

.remove_item {
	cursor: pointer;
}
*/
.compare-product{
	
}
#compare_cart #compare-cart-table tbody {
	border: none;
}
#compare_cart #compare-cart-table tr{
	background-color: gray;
}
#compare_cart #compare-cart-table tr td {
	width: 25%;
	border: 10px solid gray;
}

.compare-product-title{
	color:white;
}
/*.compare-product-image img{
	margin-top:5px;
}*/

#compare_cart_options {
	text-align: right;
}
.compare_cart_options_css {
  margin: 5px;
  display: inline;
} 